In [2]:
#Exercise 1: Create a numpy array and reshape it

import numpy as np

# Create a numpy array
array = np.arange(1, 11)
print("Original array:")
print(array)

Original array:
[ 1  2  3  4  5  6  7  8  9 10]

In [4]:
# Reshape the array to a 2x5 matrix
array = array.reshape(2, 5)
print("\nReshaped array:")
print(array)

Reshaped array:
[[ 1  2  3  4  5]
 [ 6  7  8  9 10]]

In [8]:
#Exercise 2: Extract elements from a numpy array

import numpy as np

# Create a numpy array
array = np.arange(1, 21)
print("Original array:")
print(array)

Original array:
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

In [10]:
# Extract elements between the 5th and 15th index
extracted_array = array[5:16]
print("\nExtracted array:")
print(extracted_array)

Extracted array:
[ 6  7  8  9 10 11 12 13 14 15 16]

In [12]:
#Exercise 3: Create and modify a Pandas series

import pandas as pd

# Create a Pandas series
series = pd.Series({'apples': 3, 'bananas': 2, 'oranges': 1})
print("Original series:")
print(series)

Original series:
apples     3
bananas    2
oranges    1
dtype: int64

In [14]:

# Add a new item to the series
series['pears'] = 4
print("\nUpdated series:")
print(series)

Updated series:
apples     3
bananas    2
oranges    1
pears      4
dtype: int64

In [18]:
#Exercise 4: Create a Pandas dataframe

import pandas as pd

# Create a Pandas dataframe
data = {
    'name': ['Krishna', 'Johnson', 'Robert', 'Alfred', 'Samad', 'David', 'Licy', 'Fredic', 'Maya', 'Vani'],
    'age': [25, 30, 28, 35, 40, 22, 38, 45, 32, 29],
    'gender': ['Male', 'Male', 'Male', 'Male', 'Male', 'Male', 'Female', 'Male', 'Female', 'Female']
}
df = pd.DataFrame(data)
print("Dataframe:")
print(df)

Dataframe:
      name  age  gender
0  Krishna   25    Male
1  Johnson   30    Male
2   Robert   28    Male
3   Alfred   35    Male
4    Samad   40    Male
5    David   22    Male
6     Licy   38  Female
7   Fredic   45    Male
8     Maya   32  Female
9     Vani   29  Female

In [20]:
#Exercise 5: Add a new column to the dataframe

# Add a new column to the dataframe
occupations = ['Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer', 'Manager', 'Analyst', 'Programmer']
df['occupation'] = occupations
print("\nUpdated dataframe:")
print(df)

Updated dataframe:
      name  age  gender  occupation
0  Krishna   25    Male  Programmer
1  Johnson   30    Male     Manager
2   Robert   28    Male     Analyst
3   Alfred   35    Male  Programmer
4    Samad   40    Male     Manager
5    David   22    Male     Analyst
6     Licy   38  Female  Programmer
7   Fredic   45    Male     Manager
8     Maya   32  Female     Analyst
9     Vani   29  Female  Programmer

In [22]:
#Exercise 6: Select rows based on a condition

# Select rows where age is greater than or equal to 30
selected_rows = df[df['age'] >= 30]
print("\nSelected rows:")
print(selected_rows)

Selected rows:
      name  age  gender  occupation
1  Johnson   30    Male     Manager
3   Alfred   35    Male  Programmer
4    Samad   40    Male     Manager
6     Licy   38  Female  Programmer
7   Fredic   45    Male     Manager
8     Maya   32  Female     Analyst

In [24]:
#Exercise 7: Convert dataframe to CSV and read it

# Convert dataframe to CSV
df.to_csv('data.csv', index=False)

# Read the CSV file
read_df = pd.read_csv('data.csv')
print("\nContents of the CSV file:")
print(read_df)

Contents of the CSV file:
      name  age  gender  occupation
0  Krishna   25    Male  Programmer
1  Johnson   30    Male     Manager
2   Robert   28    Male     Analyst
3   Alfred   35    Male  Programmer
4    Samad   40    Male     Manager
5    David   22    Male     Analyst
6     Licy   38  Female  Programmer
7   Fredic   45    Male     Manager
8     Maya   32  Female     Analyst
9     Vani   29  Female  Programmer